.App {
  text-align: center;
}

body {
  width: 750px;
  border: 15px solid rgba(6, 248, 59, 0.767);
  padding: 50px;
  margin: 20px;
  background-image: url("http://www.transparenttextures.com/patterns/food.png")
}

h1 {
  text-align: center;
}

.big-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  text-align: center;
  position: relative;
  left:45%;
  border-radius: 100%;
  box-shadow: 2px 2px 4px #888888;
  transition: .25s;
}

button:hover {
  text-align: center;
  position: relative;
  left:39%;
  border-radius: 100%;
  box-shadow: 2px 2px 4px #888888;
  background-color: rgb(0, 255, 221);
  font-size: 125%;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}


#food-card {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  width: 300px;
  height: 150;
  box-shadow: 10px 10px 8px #888888;
  border-radius: 10%;
  transition: .5s;
}


#food-card:hover{
  box-shadow: 10px 10px 8px #00d9ff;
  width: 320px;
  height: 350;
}

#badges{
  display: flex;
  align-content: row;
  position: relative;
  padding: 3px;
  margin: 5px;
  left: 50%;
  border-radius: 15%;
  font-size: 16px;
}

#heading {
  background-color: rgba(137, 240, 134, 0.753);
  width: auto;
  height: auto;
}


/* .food-card {
  width: 100px;
  height: 50px;
} */

.food{
  margin:10px;
  background-color: rgba(75, 245, 194, 0.562);
}


h3.Wednesday {
  background-color: rgba(255, 136, 0, 0.767);
}
h3.Tuesday {
  background-color: rgba(0, 81, 255, 0.685);
}
h3.Monday{
  background-color: rgba(255, 0, 170, 0.685);
}
h3.Thursday{
  background-color: rgba(251, 255, 0, 0.747);
}
h3.Friday {
  background-color: rgba(255, 0, 0, 0.685);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(66, 163, 71, 0.801);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(255, 255, 255, 0.774);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: .25s;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(89, 231, 241);
  animation: wiggle 75ms infinite;
  animation-timing-function: linear;   
}

@keyframes wiggle {
  0% { transform: translate(2px, 0); }
  50% { transform: translate(-2px, 0); }
  100% { transform: translate(2px, 0); }
}
