.App {
  text-align: center;
}

* {
  margin: 5px;
}

h1 {
  text-align: center;
}

button {
  text-align: center;
  position: relative;
  left:42.75%;
}


#foodCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  height: auto;
}

img {
  width:350px;
  height: 350px;
}

.food{
  margin:20px;
  background-color: rgba(111, 133, 155, 0.767);
}
